/*Name this external file gallery.css*/
body {
    margin: 2%;
    border: 1px solid black;
    background-color: #b3b3b3;
    text-align: center;
}

h1, p {
    color: #333;
}

#image {
    line-height: 650px;
    width: 575px;
    height: 650px;
    border: 5px solid black;
    margin: 20px auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    background-size: cover;
    font-size: 150%;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.preview {
    width: 10%;
    border: 5px solid black;
    cursor: pointer;
    transition: transform 0.2s;
}

.preview:hover, .preview:focus {
    transform: scale(1.1);
    outline: 3px solid #007BFF;
}
